{
    "parser": "babel-eslint",
     "plugins": ["react", "react-hooks",  "eslint-plugin-react"],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "prettier",
        "plugin:prettier/recommended"
    ], 
    "rules": {
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "comma-dangle": ["error", "only-multiline"],
        "react/prop-types": "off",
        "react/display-name": "off",
        "react/jsx-indent-props": ["error", 2],
        "prettier/prettier": ["error", { "endOfLine": "auto" }],
        "react/jsx-uses-react": "off",
        "react/react-in-jsx-scope": "off"
      },
      "settings": {
        "react": {
          "version": "detect"
        }
      },
      "root": true,
      "globals": {
        "document": true
    }
  }